// Define the themes
$themes: (
    'theme-dark': (
        'colors': (
            'default': (
                'background': #0d1117,
                'text': #8b949e
            ),
            'card': (
                'background': #161b22,
                'text': #8b949e
            ),
            'card-title': (
                'background': #21262d,
                'text':#8b949e
            )
        ),
        'borders': (
            'card': (
                'color': #30363d,
                'width': 1px,
                'style': solid,
                'radius': 0px
            )
        ),
        'fonts': (
            'card-title': (
                'family': 'Roboto',
                'size': 14px,
                'weight': 800,
                'style': normal,
                'decoration': none
            ),
            'text': (
                'family': 'Roboto',
                'size': 14px,
                'weight': 400,
                'style': normal,
                'decoration': none
            )
        )
    ),
    'theme-light': (
        'colors': (
            'default': (
                'background': #ffffff,
                'text': rgb(87, 96, 106)
            ),
            'card': (
                'background': #f6f8fa,
                'text': rgb(87, 96, 106)
            ),
            'card-title': (
                'background': #24292f,
                'text':rgb(240, 246, 252)
            )
        ),
        'borders': (
            'card': (
                'color': #d0d7de,
                'width': 1px,
                'style': solid
            )
        ),
        'fonts': (
            'card-title': (
                'family': 'Roboto',
                'size': 14px,
                'weight': 800,
                'style': normal,
                'decoration': none
            ),
            'text': (
                'family': 'Roboto',
                'size': 14px,
                'weight': 400,
                'style': normal,
                'decoration': none
            )
        )
    )
);

// Create the 'body' classes for the themes. We only define CSS
// variables here. We can use these later on.
@each $theme, $items in $themes {
    body.#{$theme} {
        // Set variables for the colors
        $colors: map-get($items, 'colors');
        @each $name, $color_items in $colors {
            @each $item, $color in $color_items {
                --color-#{$name}-#{$item}: #{$color};
            }
        }

        // Set variables for the border
        $borders: map-get($items, 'borders');
        @each $name, $border_options in $borders {
            --border-#{$name}-color: #{map-get($border_options, 'color')};
            --border-#{$name}-width: #{map-get($border_options, 'width')};
            --border-#{$name}-style: #{map-get($border_options, 'style')};
            --border-#{$name}-radius: #{map-get($border_options, 'radius')};
        }

        // Set variables for the fonts
        $fonts: map-get($items, 'fonts');
        @each $name, $font_options in $fonts {
            --font-#{$name}-family: '#{map-get($font_options, 'family')}';
            --font-#{$name}-size: #{map-get($font_options, 'size')};
            --font-#{$name}-weight: #{map-get($font_options, 'weight')};
            --font-#{$name}-style: #{map-get($font_options, 'style')};
            --font-#{$name}-decoration: #{map-get($font_options, 'decoration')};
        }
    }
};