// Import fonts
@import 'fonts';

// Import the color schemes
@import 'color-schemes';

// Create CSS for each theme
@each $theme, $color in $themes {
    body.#{$theme} {
        // Colors
        background-color: map-get($color, 'background');
        color: map-get($color, 'foreground');

        // Fonts
        font-family: 'Robot', sans-serif;
        font-size: 14px;
    }
};
