#------------------------------------------------------------------------------
# Git Ignore file for My
#------------------------------------------------------------------------------
# Exclude Python cache files
*.pyc
__pycache__
.pytest_cache

# Exclude Python vritual environments
env*

# Exclude VIM swap files
*swp

# Exclude enviroment-variable files
.environment/*

# Exclude 'rope' configuration and cache
.vscode/.ropeproject

# Exclude all NodeJS modules and compiled files in the 'NodeJS' project
src/my_ganymede/nodejs-project/node_modules
src/my_ganymede/nodejs-project/dist
src/my_ganymede/nodejs-project/public/css
src/my_ganymede/static/js/*.js
src/my_ganymede/static/js/*.js.map
src/my_ganymede/static/css/*.css
#------------------------------------------------------------------------------
