<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible'
        content='IE=edge'>
    <meta name='viewport'
        content='width=device-width,initial-scale=0.8'>
    <link rel="stylesheet"
        href="/static/css/dashboard.css">
    <title>{{ title }}</title>
</head>

<body class='theme-dark'>

    <noscript>
        <b>
            JavaScript is disabled or not supported by your browser. Please
            turn on JavaScript for this specific website to use it.
        </b>
    </noscript>
    <div id='app_login'></div>

    {% for js_file in body_js_files -%}
    <script type='text/javascript'
        src='/static/js/{{ js_file }}'></script>
    {% endfor %}
</body>

</html>