# ---------------------------------------------------------------------
# Python linting
pycodestyle==2.7.0
pylint==2.8.2
# ---------------------------------------------------------------------
# Python formatting
autopep8==1.5.7
# ---------------------------------------------------------------------
# Python unit testing
pytest==6.2.4
# ---------------------------------------------------------------------
# Web Services
Flask==2.0.0
Flask-Session==0.4.0
jinja2==3.0.1
gunicorn==20.1.0
# ---------------------------------------------------------------------
# Databases
sqlalchemy==1.4.15
pymysql==1.0.2
# ---------------------------------------------------------------------
# Passwords and other user verification libraries
passlib==1.7.2
argon2-cffi==19.2.0
pyotp==2.6.0
# ---------------------------------------------------------------------
# Console output
rich==10.2.0
# ---------------------------------------------------------------------
# Configuration loader
pyyaml==5.4.1
# ---------------------------------------------------------------------