# ---------------------------------------------------------------------
# Python linting
pycodestyle==2.7.0
pylint==2.8.2
# ---------------------------------------------------------------------
# Python formatting
autopep8==1.5.7
# ---------------------------------------------------------------------
# Python unit testing
pytest==6.2.4
# ---------------------------------------------------------------------
# Web Services
Flask==2.0.0
# ---------------------------------------------------------------------
# Databases
sqlalchemy==1.4.15
pymysql==1.0.2
# ---------------------------------------------------------------------
# Passwords
passlib==1.7.2
argon2-cffi==19.2.0
# ---------------------------------------------------------------------
# Console output
rich==10.2.0
# ---------------------------------------------------------------------
# Configuration loader
pyyaml==5.4.1
# ---------------------------------------------------------------------